.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.react-calender{
  width: 100%;
}




@media screen and (max-width: 768px) {
  #meeting_div{
    width: 100% !important;
  }
  #button_a{
    font-size: 12px;
    margin-left: 20px !important;
  }


  .main_div{
      width: 100% !important;
      display: flex;
      flex-direction:column;
      justify-content: center;
      text-align: center;
      align-items: center;
  }



  .table_row{
    width: 56% !important;
    
  }

  #table_body{
    font-size: 15px;
  }

  #button_meeting{
    font-size: 10px;
  }

  #show{
    width: 35% !important;
    margin: 0 !important;
  }

  #showButton{
    width: 35% !important;
  }
}

@media screen and (max-width: 375px) {
  #show{
    width: 70% !important;
    margin: 0 !important;
  }

  #showButton{
    width: 75% !important;
  }

  #button_meeting{
    font-size: 10px;
    margin-left: 100px !important;
  }
}


@media screen and (max-width: 320px) {
  #show{
    width: 80% !important;
    margin: 0 !important;
  }

  #showButton{
    width: 84% !important;
  }

  #button_meeting{
    font-size: 10px;
    margin-left: 100px !important;
  }
}